<md-card>
  <table>
    <tr>
      <td>予約番号</td>
      <td>日時</td>
      <td>コメント</td>
      <td>ノート</td>
      <td>キャンセル</td>
    <tr>
    <tr *ngFor="let book of books" [ngClass]="{'hide': !book.id, 'future-lesson': isFutureLesson(book)}">
      <td><button md-button (click)="openDialog(book)" color="accent">{{book.id}}</button></td>
      <td>{{book.start_at | date:'y/MM/dd HH:mm a'}}</td>
      <td>{{book.comment | truncate}}</td>
      <td>
        <a *ngIf="book.aasm_state == 'done'"[routerLink]="['/users/notes', book.note_id]" routerLinkActive="active"><md-icon>note</md-icon></a>
      </td>
      <td><md-icon *ngIf="isCancelable(book)" (click)="cancelBook(book)">cancel</md-icon></td>
    </tr>
  </table>
</md-card>
