<md-card>
  <table>
    <tr>
      <td>予約番号</td>
      <td>日時</td>
      <td>コメント</td>
      <td>レッスンノート</td>
      <td></td>
    <tr>
    <tr *ngFor="let book of books" [ngClass]="{'hide': !book.id}">
      <td><button md-button (click)="openDialog(book)" color="accent">{{book.id}}</button></td>
      <td>{{book.start_at | date:'yMdjm'}}</td>
      <td>{{book.comment | truncate}}</td>
      <td>
        <a *ngIf="book.aasm_state == 'done'"[routerLink]="['/users/notes', book.note_id]" routerLinkActive="active"><button md-button>note</button></a>
      </td>
      <td><button md-button *ngIf="isCancelable(book)" (click)="cancelBook(book)">キャンセル</button></td>
    </tr>
  </table>
</md-card>
