<md-card class="signin">
  <form class="form" (ngSubmit)="onSubmit()" action="/users" method="post" #userForm="ngForm">
    <table class="center">
      <tr>
        <td>
          <md-input-container>
            <input mdInput type="email" [(ngModel)]="model.email" name="user[email]" placeholder="メールアドレス" required #email="ngModel">
          </md-input-container>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">email is required</div>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput type="password" [(ngModel)]="model.password" name="user[password]" placeholder="パスワード" required #password="ngModel">
          </md-input-container>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">password is required</div>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput type="password" [(ngModel)]="model.password_confirmation" name="user[password_confirmation]" placeholder="パスワード（確認）" required #password_confirmation="ngModel">
          </md-input-container>
          <div [hidden]="password_confirmation.valid || password_confirmation.pristine" class="alert alert-danger">password is required</div>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" md-raised-button [disabled]="!userForm.form.valid">Submit</button>
        </td>
      </tr>
    </table>
  </form>
</md-card>
