body {
  -webkit-font-smoothing: antialiased;
}

.btn {
  border: 2px solid #ffc107;
  background-color: #ffc107;
  color: #000;
  text-decoration: none;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.intro {
  background-image: url(gardensbythebay.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.navi {
  text-align: right;
  padding: 10px 10px 0 0;
}
