<md-card>
  <md-tab-group>
    <md-tab label="Schedule">
      <table>
        <tr>
          <th></th>
          <th *ngFor="let day of days" class="day head">
            <span class="dt">{{day.format("ddd")}}</span>
            <span class="dt">{{day.format("MMM DD")}}</span>
          </th>
        </tr>
        <tr *ngFor="let interval of intervals;let i = index">
          <td class="time">{{interval}}</td>
          <td *ngFor="let lesson of lessons[i]" class="lesson">
            <md-checkbox (change)="toggle(lesson, $event)" [checked]="!lesson.canceled" [disabled]="lesson.disabled"></md-checkbox>
            <button md-raised-button (click)="openDialog(lesson)" *ngIf="!lesson.canceled" color="accent" [disabled]="lesson.user_id">{{lesson.text}}</button>
          </td>
        </tr>
      </table>
    </md-tab>
    <md-tab label="Account Settings">
    </md-tab>
  </md-tab-group>
</md-card>
