<md-card class="signin">
  <form class="form" (ngSubmit)="onSubmit()" action="/admin/teachers/sign_in" method="post">
    <table class="center">
      <tr>
        <td>
          <md-input-container>
            <input mdInput type="email" name="teacher[email]" placeholder="mail address" required>
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container class="full-width">
            <input mdInput type="password" name="teacher[password]" placeholder="password" required>
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" md-raised-button>Submit</button>
        </td>
      </tr>
    </table>
  </form>
</md-card>
