<md-card>
  <md-tab-group>
    <md-tab label="Timetable">

      <section>
        <md-slide-toggle [color]="color" (click)="showMorning()">
          Morning
        </md-slide-toggle>
        <md-slide-toggle [color]="color" (click)="showAfternoon()">
          Afternoon
        </md-slide-toggle>
      </section>

      <table>
        <tr><th>time</th><th>name</th><th>skype name</th><th>status</th><th>attended</th><th>note</th></tr>
        <tr *ngFor="let book of books[0]" [ngClass]="{'morning': morningClass}">
          <td>{{book.start_at}}</td>
          <td>
            <span>{{book.family_name}}</span>
            <span>{{book.given_name}}</span>
          </td>
          <td>{{book.skype_name}}</td>
          <td>{{book.aasm_state}}</td>
          <td>{{book.attended}}</td>
          <td><button md-button *ngIf="book.aasm_state == 'booked'" (click)="openNote()">note</button></td>
        <tr>
      </table>
      <table>
        <tr><th>time</th><th>name</th><th>skype name</th><th>status</th><th>attended</th><th>note</th></tr>
        <tr *ngFor="let book of books[1]" [ngClass]="{'afternoon': afternoonClass}">
          <td>{{book.start_at}}</td>
          <td>
            <span>{{book.family_name}}</span>
            <span>{{book.given_name}}</span>
          </td>
          <td>{{book.skype_name}}</td>
          <td>{{book.aasm_state}}</td>
          <td>{{book.attended}}</td>
          <td><button md-button *ngIf="book.aasm_state == 'booked'" (click)="openNote()">note</button></td>
        <tr>
      </table>

    </md-tab>
    <md-tab label="Weekly Schedule">
      <table>
        <tr>
          <th></th>
          <th *ngFor="let day of days" class="head">
            <span class="dt">{{day.format("ddd")}}</span>
            <span class="dt">{{day.format("MMM DD")}}</span>
          </th>
        </tr>
        <tr *ngFor="let interval of intervals;let i = index">
          <td class="time">{{interval}}</td>
          <td *ngFor="let lesson of lessons[i]" class="lesson">
            <button md-raised-button [ngClass]="lesson.aasm_state" (click)="toggle(lesson)" [disabled]="isDisabled(lesson)">{{lesson.aasm_state | uppercase}}</button>
          </td>
        </tr>
      </table>
    </md-tab>
    <md-tab label="Account Settings">
    </md-tab>
    <md-tab label="Students">
      <table>
        <tr>
          <td>id</td>
          <td>family name</td>
          <td>given name</td>
          <td>email</td>
          <td>skype name</td>
          <td>birth date</td>
          <td>lesson plan</td>
          <td>payment status</td>
          <td>expiry date</td>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.family_name}}</td>
          <td>{{user.given_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.skype_name}}</td>
          <td>{{user.birthdate}}</td>
          <td>plan 1</td>
          <td>{{user.payment_status}}</td>
          <td>{{user.end_date}}</td>
        </tr>
      </table>
    </md-tab>
  </md-tab-group>
</md-card>
