<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>Mugsy in English</title>
    <%= csrf_meta_tags %>

    <link href="https://s3-ap-northeast-1.amazonaws.com/rangoon/indigo-pink.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag "styles" %>
  </head>

  <body>
    <%= yield %>
    <angular></angular>
    <%= javascript_pack_tag 'angular' %>
    <% if teacher_signed_in? %>
      <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
    <% end %>
  </body>
</html>
