!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }/
    %title Mugsy in English
    = csrf_meta_tags
    = stylesheet_link_tag 'dashboard', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Kanit'

    %body
      = yield
