!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }/
    %title Mugsy's English
    = csrf_meta_tags
    = stylesheet_link_tag 'dashboard', media: 'all'
    %body
      = yield
      = javascript_include_tag "magic.min.js"
